body{
        font-family: 'Ubuntu', sans-serif;
}

section{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1132%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M155.9 135.82L241.64 185.32L241.64 284.32L155.9 333.82L70.16 284.32L70.16 185.32zM70.16 284.32L155.9 333.82L155.9 432.82L70.16 482.32L-15.58 432.82L-15.58 333.82zM413.12 284.32L498.85 333.82L498.85 432.82L413.12 482.32L327.38 432.82L327.38 333.82zM584.59 284.32L670.33 333.82L670.33 432.82L584.59 482.32L498.85 432.82L498.85 333.82zM756.07 -12.68L841.81 36.82L841.81 135.82L756.07 185.32L670.33 135.82L670.33 36.82zM927.55 581.32L1013.29 630.82L1013.29 729.82L927.55 779.32L841.81 729.82L841.81 630.82zM1099.03 284.32L1184.77 333.82L1184.77 432.82L1099.03 482.32L1013.29 432.82L1013.29 333.82zM1441.98 -12.68L1527.72 36.82L1527.72 135.82L1441.98 185.32L1356.24 135.82L1356.24 36.82z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M146 135.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM231.74 185.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM231.74 284.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM146 333.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM60.26 284.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM60.26 185.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM146 432.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM60.26 482.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM-25.48 432.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM-25.48 333.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM403.22 284.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM488.95 333.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM488.95 432.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM403.22 482.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM317.48 432.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM317.48 333.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM574.69 284.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM660.43 333.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM660.43 432.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM574.69 482.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM746.17 -12.68 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM831.91 36.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM831.91 135.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM746.17 185.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM660.43 135.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM660.43 36.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM917.65 581.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1003.39 630.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1003.39 729.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM917.65 779.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM831.91 729.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM831.91 630.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1089.13 284.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1174.87 333.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1174.87 432.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1089.13 482.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1003.39 432.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1003.39 333.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1432.08 -12.68 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1517.82 36.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1517.82 135.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1432.08 185.32 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1346.34 135.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0zM1346.34 36.82 a9.9 9.9 0 1 0 19.8 0 a9.9 9.9 0 1 0 -19.8 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M4.24 -13.41L73.52 26.59L73.52 106.59L4.24 146.59L-65.04 106.59L-65.04 26.59zM73.52 106.59L142.81 146.59L142.81 226.59L73.52 266.59L4.24 226.59L4.24 146.59zM4.24 226.59L73.52 266.59L73.52 346.59L4.24 386.59L-65.04 346.59L-65.04 266.59zM142.81 -13.41L212.09 26.59L212.09 106.59L142.81 146.59L73.52 106.59L73.52 26.59zM212.09 106.59L281.38 146.59L281.38 226.59L212.09 266.59L142.81 226.59L142.81 146.59zM142.81 226.59L212.09 266.59L212.09 346.59L142.81 386.59L73.52 346.59L73.52 266.59zM212.09 346.59L281.38 386.59L281.38 466.59L212.09 506.59L142.81 466.59L142.81 386.59zM142.81 466.59L212.09 506.59L212.09 586.59L142.81 626.59L73.52 586.59L73.52 506.59zM350.66 346.59L419.94 386.59L419.94 466.59L350.66 506.59L281.38 466.59L281.38 386.59zM350.66 586.59L419.94 626.59L419.94 706.59L350.66 746.59L281.38 706.59L281.38 626.59zM419.94 -13.41L489.23 26.59L489.23 106.59L419.94 146.59L350.66 106.59L350.66 26.59zM489.23 346.59L558.51 386.59L558.51 466.59L489.23 506.59L419.94 466.59L419.94 386.59zM558.51 226.59L627.8 266.59L627.8 346.59L558.51 386.59L489.23 346.59L489.23 266.59zM766.36 106.59L835.65 146.59L835.65 226.59L766.36 266.59L697.08 226.59L697.08 146.59zM904.93 346.59L974.22 386.59L974.22 466.59L904.93 506.59L835.65 466.59L835.65 386.59zM835.65 466.59L904.93 506.59L904.93 586.59L835.65 626.59L766.36 586.59L766.36 506.59zM904.93 586.59L974.22 626.59L974.22 706.59L904.93 746.59L835.65 706.59L835.65 626.59zM974.22 226.59L1043.5 266.59L1043.5 346.59L974.22 386.59L904.93 346.59L904.93 266.59zM1112.78 -13.41L1182.07 26.59L1182.07 106.59L1112.78 146.59L1043.5 106.59L1043.5 26.59zM1112.78 226.59L1182.07 266.59L1182.07 346.59L1112.78 386.59L1043.5 346.59L1043.5 266.59zM1182.07 346.59L1251.35 386.59L1251.35 466.59L1182.07 506.59L1112.78 466.59L1112.78 386.59zM1182.07 586.59L1251.35 626.59L1251.35 706.59L1182.07 746.59L1112.78 706.59L1112.78 626.59zM1320.64 586.59L1389.92 626.59L1389.92 706.59L1320.64 746.59L1251.35 706.59L1251.35 626.59zM1459.2 106.59L1528.49 146.59L1528.49 226.59L1459.2 266.59L1389.92 226.59L1389.92 146.59zM1389.92 466.59L1459.2 506.59L1459.2 586.59L1389.92 626.59L1320.64 586.59L1320.64 506.59z' stroke='url(%23SvgjsLinearGradient1133)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1132'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='220.03199999999998' y1='780.024' x2='1219.9679999999998' y2='-220.02399999999997' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1133'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(71%2c 131%2c 209%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.hero{
    background-color:#382933;
    height: 100vh;
    color: #519872;
    font-size: 40px;

}

footer{
    background-color: #382933;
    color: #519872;
    text-align: center;
    padding: 80px;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;

}
li{
    text-decoration: none;
}
h1{
    font-size: 90px;
    margin: 0;
}
h2{
    font-size: 50 px;
}

p{
    margin: 0;
    font-weight: 300px;
    font-size: 30px;
}

.subtext{
    font-size: 15px;
    font-weight: 300px;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    margin-left: 70px;
    margin-bottom: 200px;
}
.button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-weight: 300px;
    font-size: 30px;
    padding-top: 5px;
    margin-top: 20px;
}
.button:hover {
    background-color: #ef744b;
}
.button:active {
    background-color: #a9a9a9;
    color: #808080; 
}
.information{
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        display: flex;
        justify-content: space-around;
}
.socials{
    padding-bottom: 200px;
}
.logo {
    height: 80px;
    margin: 30px;
}
.social{
    margin: 20px;
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternativ{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;    
}
.headshot{
    width: 500px;
    border-radius: 250px;
}

.headshot-container{
    display: flex;
    align-items: center;
}
.project-card{
    width: 300px;
    height: 500px;
    box-shadow:5px 5px 20px #000000;
    margin: 10px;
}

@media only screen and (max-width: 1000px){
    .projects-container{
        display: flex;
        flex-wrap: wrap;
    }
}
.projects-container{
    display: flex;
    justify-content: space-around;
}

.project-image{
    margin-top: 25px;
    width: 250px;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

.project-link{
   text-decoration: none;
   color: #382933; 
}

a{
    text-decoration: none;
    color: white;
}